node_name               = "pve"
proxmox_endpoint        = "https://<proxmox-host>:8006/"
proxmox_insecure        = false
opnsense_endpoint       = "https://<opnsense-host>"
opnsense_allow_insecure = false
op_vault_name           = "<vault>"
op_items = {
  proxmox_api  = "<item title>"
  proxmox_ssh  = "<item title>"
  opnsense_api = "<item title>"
}
