alias tfmt='mise run tofu:fmt'
alias tfmtcheck='mise run tofu:fmt-check'
alias tcheck='mise run tofu:check'

alias ticore='mise run tofu:core:init'
alias tpcore='mise run tofu:core:plan'
alias tacore='mise run tofu:core:apply'
alias tvcore='mise run tofu:core:validate'
alias tccore='mise run tofu:core:check'

alias titestbed='mise run tofu:testbed:init'
alias tptestbed='mise run tofu:testbed:plan'
alias tatestbed='mise run tofu:testbed:apply'
alias tvtestbed='mise run tofu:testbed:validate'
alias tctestbed='mise run tofu:testbed:check'

alias opwhoami='mise run op:whoami'
alias opread='mise run op:read'
