alias tfmt='mise run tofu:fmt'
alias tfmtcheck='mise run tofu:fmt-check'
alias tcheck='mise run tofu:check'

alias tilab='mise run tofu:lab:init'
alias tplab='mise run tofu:lab:plan'
alias talab='mise run tofu:lab:apply'
alias tvlab='mise run tofu:lab:validate'
alias tclab='mise run tofu:lab:check'

alias titestbed='mise run tofu:testbed:init'
alias tptestbed='mise run tofu:testbed:plan'
alias tatestbed='mise run tofu:testbed:apply'
alias tvtestbed='mise run tofu:testbed:validate'
alias tctestbed='mise run tofu:testbed:check'

alias opwhoami='mise run op:whoami'
alias opread='mise run op:read'
