alias tfmt='mise run tofu:fmt'
alias tfmtcheck='mise run tofu:fmt-check'
alias tcheck='mise run tofu:check'

alias tilab='mise run tofu:lab:init'
alias tplab='mise run tofu:lab:plan'
alias talab='mise run tofu:lab:apply'
alias tvlab='mise run tofu:lab:validate'
alias tclab='mise run tofu:lab:check'

alias titestlab='mise run tofu:testlab:init'
alias tptestlab='mise run tofu:testlab:plan'
alias tatestlab='mise run tofu:testlab:apply'
alias tvtestlab='mise run tofu:testlab:validate'
alias tctestlab='mise run tofu:testlab:check'

alias opwhoami='mise run op:whoami'
alias opread='mise run op:read'
