TF_VAR_ssh_public_key="op://<vault>/<item>/public key"
TF_VAR_vm_username="op://<vault>/<item>/username"
TF_VAR_vm_password="op://<vault>/<item>/password"
TF_VAR_proxmox_api_token_id="op://<vault>/<item>/token ID"
TF_VAR_proxmox_api_token_secret="op://<vault>/<item>/token secret"
TF_VAR_proxmox_ssh_username="op://<vault>/<item>/username"
TF_VAR_proxmox_ssh_password="op://<vault>/<item>/password"
PROXMOX_VE_ENDPOINT="https://<proxmox-host>:8006/"
PROXMOX_VE_INSECURE="true"
